* {padding:0px;margin:0px;}
a {text-decoration: none;color:black;}
ul {list-style-type: none;}
#clear{ clear:both;}

#hidden_nav{
    width:0%;
    
    background-color: rgb(29, 25, 25);
}
header{
    position:fixed;
    height:70px;
    width:100%;
    
    /* background-color: rgba(114, 196, 180, 0.67); */
    overflow: hidden;
}
main{
    background-color: bisque;
}

#main_wrap{
    
    width:100%;
    background-color: rgb(219, 132, 132);
}
#mother_wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
footer{
    width:100%;
    height:200px;
    background-color: blueviolet;
    
}
#test{
    position:fixed;
    top:0px;
}

#logo_box{
    float:left;
    
    overflow: hidden;
    
}
#header_nav{
    position:absolute;
    top:15px;
    left:20%;
    width:60%;
    
    
}
#header_nav #nav_li_box{
    width:100%;
}
#header_nav #nav_li_box{
    text-align: center;
    display:inline-block;
    width:25%;
    font-size: 23px;
}
#hidden_nav_button{
    width:30px;
    height:30px;
    background-color: black;
    position:absolute;
    top:20px;
    left:20px;
}